body 
{  
    font-family:tahoma;
    font-size:smaller;  
}

#Globalblock
{
    position:absolute;
    margin-left:18%;
    margin-top:30px;
    width:52%;
    height:100%;
    background-color: #FBFBEF;
    z-index:4;   
} 
  
#chat
{

}
#header 
{
    background-color: #3b5998;
    height: 39px;
    width:100%;
    position:fixed;
    margin-left:-10px;
    margin-top:-10px;
    border-bottom:1px solid #08298A;
    z-index:5;        
}
#logo
{ 
    position:fixed;
    margin-left:345px;
    margin-top:2px;
    height:36px;
    
}
#left-sidebar
{ 
    position:absolute;
    width:19%;
    height:1500px;
    background-color: #EFFBEF;
    float:left;
    border-right:1px solid #D8D8D8;
    z-index:inherit;
}

#right-sidebar
{
    position:relative;
    width:25%;
    height:1500px;
    background-color: #EFFBEF;
    float:right;
    z-index:inherit;
    border-right:1px solid #D8D8D8;
}
#header div
{   
    position:absolute;
    height:25px;
    margin-top:10px;    
}
    
#eins
{
    margin-left:450px;      
}
#zwei
{
    margin-left:475px;   
}
#drei
{
    margin-left:500px;    
}
#vier
{
    margin-left:1070px;
    height:25px;   
}
#fuenf
{
    margin-left:1100px;
    color: #d8dfea;
    font-weight: bold;
    line-height: 29px;
}
#sechs
{
    margin-left:1230px;
    color: #d8dfea;
    font-weight: bold;
    line-height: 29px;
}
#sieben
{
    margin-left:1315px;
    margin-top:5px;
    height:16px;   
}
#profilfoto
{
    position:relative;
    margin-top:20px;
    height:40px;
    float:left;
}
#profiltxt
{
    position:relative;
    margin-top:26px;
    margin-left:48px;
    font-weight: bold;
    color: #3b5998;
}
#profilbeab
{
    position:relative;
    margin-left:48px;
    color: #3b5998;
}
.listen
{
    margin-left:-40px;
    list-style-type:none;
}
li.liHead
{
    color:#BDBDBD!important;
    font-weight:bold;
}

#left-sidebar ul li
{
    color:#000;
}
.right-sidebar-points
{
    position:relative;
    color:#848484;
    font-weight:bold;
}
#right-sidebar-1
{
    width:100%;
    height:20px;
    background-color:#F2F2F2;
    margin-top:50px;
    border-top: 1px solid #E6E6E6;
}
#right-sidebar-2
{   
    width:100%;
    height:20px;
    background-color:#F2F2F2;
    margin-top:100px;
    border-top: 1px solid #E6E6E6;
}
#impressum
{
    width:100%;
    border-top: 2px solid #D8D8D8;
    margin-top:700px;
    
}    
   
    